/* Normal desktop :1200px. */
@media (max-width: 1200px) {
    .menu-list ul li {
        display: inline-block;
        font-size: 28px;
        margin-right: 18px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 26px;
    }
    .nav-icon {
        font-size: 11px;
        margin-left: -4px;
        color: gray;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        width: 56px;
        margin: 0 auto;
        border: 1.5px solid black;
    }
}


/* Normal desktop :992px. */
@media (max-width: 992px) {
    .text-logo a {
        font-size: 20px;
        font-weight: bold;
    }

    .search-box input[type="search"] {
        width: 170px;
    }
    .top-contact-us a {
        font-size: 22px;
    }
    .top-contact-us span {
        font-size: 15px;
    }
    .navbar {
        border: none;
        padding: 0px !important;
        width: 330px;
        margin: 0 auto;
    }

    .navbar-collapse {
        width: 200px;
        background: #dfdfdf;
        padding: 10px 0 19px 19px;
        height: 100%;
        z-index: 99999;
        overflow-y: scroll;
        margin-top: 14px;
        border-radius: 10px;
    }

    .mega-aria {
        width: 294px;
        z-index: 999;
        padding: 16px 10px 50px 10px;
        border-radius: 10px !important;
        border: none;
        background-color: #F7F7F7;
        -webkit-border-radius: 10px !important;
        -moz-border-radius: 10px !important;
        -ms-border-radius: 10px !important;
        -o-border-radius: 10px !important;
    }

    .mega-aria h5 {
        margin-top: 15px !important;
    }






    .mobile-menu-bar {
        display: block !important;
    }
    .menu-list {
        border: 1.5px solid gray;
        max-width: 400px;
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        background: #dfdfdf;
        height: 100%;
        z-index: 11111;
        transition: .3s all ease-in-out;
        -webkit-transition: .3s all ease-in-out;
        -moz-transition: .3s all ease-in-out;
        -ms-transition: .3s all ease-in-out;
        -o-transition: .3s all ease-in-out;
}
    .menu-list.active {
        left: 0px;
    }
    .menu-list ul li {
        display: block;
        font-size: 21px;
        text-align: center;
        color: black;
    }
    /* Mobile Menu */
    .mobile-menu-bar span {
    font-family: poppins;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    }
    .mobile-menu-bar span:hover {
    color: orange;
    }

    /* Navigation bars css */
    #navbar {
        margin-bottom: -20px;
    }

    .google-map {
        width: 95%;
        overflow: hidden;
        height: 265px;
    }

  /* Shop page mobile category */
  .mobile-category-list ul li {
	color: black;
	text-align: center;
	font-family: poppins;
	font-size: 21px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	display: block;
	position: relative;
	cursor: pointer;
	transition: .3s all ease-in-out;
}
    .mobile-category-list ul li:hover {
        color: red;
      }
      .mobile-category-list {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        background: #dfdfdf;
        padding: 35px 0 10px 0px;
        height: 100vh;
        transition: .3s all ease-in-out;
        -webkit-transition: .3s all ease-in-out;
        -moz-transition: .3s all ease-in-out;
        -ms-transition: .3s all ease-in-out;
        -o-transition: .3s all ease-in-out;
        display: block;
        z-index: 1111;
}

    .mobile-category-list.show-category {
        left: 0px;
    }

    .menu-list ul {
        margin: 0;
        padding: 0;
        padding-top: 19px;
    }

    .menu-list ul li {
        display: block;
        font-size: 23px;
        text-align: center;
        color: black;
    }

    #navbar-close {
        position: absolute;
        top: 7px;
        right: 16px;
        font-size: 35px;
        color: orange;
        cursor: pointer;
        display: block;
        z-index: 9999999;
    }

}

@media (max-width:992px){
    .categories-bar {
        position: fixed;
        top: 200px;
        width: 40px;
        height: 40px;
        background: orange;
        border-radius: 11%;
        text-align: center;
        color: #fff;
        font-size: 21px;
        line-height: 47px;
        cursor: pointer;
        display: block;
    }
    .close-btn {
        position: absolute;
        top: 7px;
        right: 16px;
        font-size: 35px;
        color: orange;
        cursor: pointer;
    }
}
 
/* Tablet desktop :768px. */
@media (max-width: 767px) {
    .search-box input[type="search"] {
        width: auto;
        margin-bottom: 10px;
    }
    .top-contact-us a {
        font-size: 28px;
    }
    .top-contact-us span {
        font-size: 18px;
    }
    .text-logo a {
        font-size: 30px;
        font-weight: 500;
    }
    .top-bar {
        padding-top: 4px !important;
    }
    .gift-title h2 {
        font-size: 30px;
        line-height: 25px;
        margin-bottom: 3px;
    }
    .gift-title p {
        font-size: 13px;
    }
    .client-section .owl-nav {
        text-align: center;
        margin-top: 9px;
        position: initial;
        top: none;
        right: none;
    }
    .featured-section .owl-nav {
        text-align: center;
        margin-top: 9px;
        position: initial;
        top: none;
        right: none;
    }
    #top-carousel .item {
        min-height: 270px;
    }
    .hero-slider-content {
        bottom: 12%;
    }
    .hero-slider-content span {
        margin-bottom: 12px;
        font-size: 12px;
        margin-top: 0px;
        font-weight: 600;
        max-width: 290px;
    }
    .hero-slider-content .btn-hero {
        font-size: 15px;
        padding: 10px 12px 10px 13px;
    }
    .google-map {
        width: 100%;
    }

    .banner-section {
        background: #FE5937;
        padding: 35px 20px 35px 20px;
        text-align: center;
    }
    .banner-description p {
        margin-bottom: 24px !important;
        margin-top: 15px !important;
    }

}

 
@media (max-width: 445px) {
    .address-box .address-list .icon {
        display: inline-block;
        background: #dfdfdf;
        padding: 0px;
        width: 60px;
        height: 60px;
    }
    .address {
        display: inline-block;
        border: 1.4px solid #dfdfdf;
        padding: 6px 0 0 11px;
        height: 60px;
        width: 270px;
        overflow: hidden;
    }
    .address h5 {
        font-size: 14px;
        font-family: poppins;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 10px;
    }
    .address span {
        color: #818181;
        font-family: poppins;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        display: block;
        margin-top: 7px;
    }
    .address-box {
        max-width: 270px;
        margin: 0 auto;
        margin-top: 65px;
    }
    .description-part p {
        font-size: 14px;
        font-family: poppins;
        line-height: 18px;
    }
    .description-part .title h2 {
        font-size: 20px;
        font-family: Poppins-bold;
        margin-bottom: 8px;
    }
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
